body{
    min-height: 100vh;
    background:
    linear-gradient(rgba(0 , 0 , 0 , 0.4) , rgba(0 , 0 , 0 , 0.4)) , url(pexels-anhelina-vasylyk-734724285-33593005.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*background: fixed;*/
}
body{
    font-size: 25px;
}
hr{
    display: none;
}
section{
    
    padding: 50px;
    backdrop-filter: blur(5px);
    margin: 75px auto;
    border: 1px solid;
    border-color: rgba(255,255,255,0.1);
    border-radius: 20px;
    height: 569px;
    box-shadow: 0 0 20px 5px rgba(0 , 0 , 0 , 0.7);

}
.container{
    display: flex;
    justify-content: center;
    
}
label{
    color: white;

}
.input2 , .input3{
    color: white;
    display: block;
    padding: 8px;
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 8px;
    background: transparent;
    
}
.num2 , .num3 , .num4{
    margin-top: 15px;
}
.input1,.input4 ,textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 8px;
    background: transparent;
    color: white;
}
.indoorOutdoor , .specialR{
    margin-top: 15px;
}
.num2 , .num3{
    display: inline-block;
}
.num3{
    margin-left: 10px;
}
.labout , .labin{
    font-size: 20px;
}
textarea{
    height: 165px;
}
.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
button {
    padding: 8px 20px;
    border: 1px solid white;
    border-radius: 10px;
    background: transparent;
    color: white;
    cursor: pointer;
    font-size: 15px;
}
button:hover{
    color: red;
}
.input3 , .input4{
    color: rgba(255,255,255,0.4);
}
.toast {
    position: fixed;
    top: 20px;
    right: 110px;
    background-color: rgba(96, 138, 172, 0.315);
    color: white;
    padding: 15px 20px;
    border-radius: 12px;
    font-size: 18px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);

    opacity: 0;
    transform: translateY(-20px);
    transition: 0.4s ease;
    z-index: 9999;
}
.toast.show {
    opacity: 1;
    transform: translateY(0);
}